In [20]:
strlist=['10','20','30','40','50','60']
test1=['0','1','2','3','4','5']
test2=['2','1','2','3','4','5']
for i in range (0,5,1):
    sql_str2 = "select count(case when age %s and age < %s then 1 else null end)" %(strlist[i],strlist[i+1])
    print(sql_str2)
    print(test1[i])
    print(test2[i])

select count(case when age 10 and age < 20 then 1 else null end)
0
2
select count(case when age 20 and age < 30 then 1 else null end)
1
1
select count(case when age 30 and age < 40 then 1 else null end)
2
2
select count(case when age 40 and age < 50 then 1 else null end)
3
3
select count(case when age 50 and age < 60 then 1 else null end)
4
4

In [17]:
for i in range(0,6,1):
    print(i)

0
1
2
3
4
5

try 57

In [28]:
male=[3, 2, 1, 3, 10]

for i in range(0,5,1):
    male_total+=male[i]

strtry="try %s" %(str(male_total))

print(strtry)

try 76